.menu__page {
  animation: fade-in 2.5s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 2792px) {
  .menu__page {
    padding-top: 100px;
  }
}
